<ul class="navbar-nav ml-auto ml-md-0">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="localeDropdown" role="button" data-toggle="dropdown">
      <%= t(I18n.locale) %>
    </a>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
      <a class="dropdown-item disabled" href="#"><%= t('landing.index.language_select') %></a>
      <div class="dropdown-divider"></div>
      <% I18n.available_locales.each do |lang| %>
        <%= link_to t("locale.#{lang}"), change_locale_path(lang), class: 'dropdown-item' %>
      <% end %>
    </div>
  </li>
</ul>
