<!-- Sidebar -->
<ul class="sidebar navbar-nav toggled">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-globe"></i>
      <span>Home</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="groupsDropdown" role="button" data-toggle="dropdown">
      <i class="fas fa-fw fa-users"></i>
      <span>Groups</span>
    </a>
    <div class="dropdown-menu">
      <h6 class="dropdown-header">Groups</h6>
      <a class="dropdown-item" href="#">Group A</a>
      <a class="dropdown-item" href="#">Group B</a>
      <a class="dropdown-item" href="#">Group C</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-tasks"></i>
      <span>Tasks</span></a>
  </li>
</ul>