<label for="shown-rating" class="control-label">Current rating:</label>
<input id="shown-rating" name="rating" class="rating rating card-rating" value="<%= task.rating %>" data-min="0" data-max="5" data-step="1">