<div class="card">
  <h4 class="card-header">
    <%= render partial: "timer", locals: { task: task } %>
  </h4>
  <div class="card-body">
    <h4 class="card-title"><%= task.title %></h4>
    <p class="card-text"><%= task.description  %></p>
    <%= link_to "More", group_task_path(group, task.id), class: "btn btn-md btn-success" %>
  </div>
</div>