<i class="fa fa-clock"></i>
<% if task.in_progress? || task.finished? || task.closed? %>
  <%= tag.span(id: "expire_time_#{task.id}", class: "expire_timer", data: {expires_at: task.expires_at.iso8601, id: task.id }) %>
<% elsif task.opened? || task.ready? %>
  <%= content_tag(:span, 'Not started yet') %>
<% else %>
  <%= content_tag(:span, 'On pause') %>
<% end %>

<% if task.pausable? && can?(:pause, task) %>
  <%= link_to group_task_estimate_pause_path(task.group, task), class: "btn btn-md btn-warning", remote: true,
      method: (if task.creator == current_user then :post else :get end) do%>
    <i class="fas fa-pause"></i>
  <% end %>
<!--  <a class="btn btn-md btn-warning"><i class="fas fa-pause"></i></a>-->
<% end %>
<% if task.stoppable? && can?(:close, task) %>
  <a class="btn btn-md btn-danger"><i class="fas fa-stop"></i></a>
<% end %>