<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Tasks for group "<%= @group.name %>"</h2>
      <% @tasks.each do |task| %>
        <%= render partial: "task_card", locals: {group: @group, task: task } %>
        <br/>
      <% end %>
    </div>
  </div>
</div>
