<!-- Navbar -->

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t(I18n.locale) %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class="header">Select a language</li>
    <% I18n.available_locales.each do |lang| %>
      <li>
        <%= link_to t(lang), change_locale_path(lang) %>
      </li>
    <% end %>
  </ul>

</nav>