<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= group.name %></h4>
    <p class="card-text">Amount of members: <%= group.memberships.count %></p>
    <%= link_to "More", group_path(group), class: "btn btn-md btn-success" %>
  </div>
</div>