<span>Do you agree?</span>
<div>
  <%= link_to "Confirm estimate", group_task_estimate_accept_path(task.group, task), method: :post, class: "btn btn-md btn-success" %>
  <%= link_to "Reject estimate", group_task_estimate_reject_path(task.group, task), method: :post, class: "btn btn-md btn-danger" %>
</div>