// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-profile-pic {
  max-height: 64px;
  max-width: 64px;
  object-fit: contain;
}