// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media(max-width: 576px) {

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .card {
      flex: 0 0 auto;
    }

  }
}

#tag_cloud {
  width: 100%;
  line-height: 1.6em;
  .tag-sm { font-size: 0.8em; font-weight: lighter }
  .tag-md { font-size: 1.2em; }
  .tag-lg { font-size: 1.8em; font-weight: bold }
}
